@tailwind base;
@tailwind components;
@tailwind utilities;

/* App yüksekliği ve scroll kontrolü */
html,
body,
#root {
  height: 100%;
}
body {
  overflow: hidden;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='none' stroke='gray' stroke-width='2' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'><path stroke-linecap='round' stroke-linejoin='round' d='M19 9l-7 7-7-7'/></svg>");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 1rem;
}

@layer base {
  /* Firefox için */
  * {
    scrollbar-width: thin;
    scrollbar-color: #27272a #09090b; /* zinc-800 zinc-950 */
  }

  /* Chrome, Edge, Safari için */
  ::-webkit-scrollbar {
    width: 8px; /* Dikey scroll genişliği */
    height: 8px; /* Yatay scroll yüksekliği */
  }

  ::-webkit-scrollbar-track {
    background: #09090b; /* zinc-950 (Arkaplan) */
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb {
    background: #27272a; /* zinc-800 (Çubuk rengi) */
    border-radius: 4px;
    border: 2px solid #09090b; /* Kenarlarda boşluk hissi verir */
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #3f3f46; /* zinc-700 (Hover rengi) */
  }
}

@layer base {
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
}

@layer utilities {
  .bg-noise {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 50; /* Spotlight'tan (z-1) üstte, ama modal (z-100) altında olmalı */
    opacity: 0.035; /* Hafif bir doku */
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.8' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    mix-blend-mode: overlay;
  }
}
